:root {
  --primary-color: #5a3ef9;
  --primary-hover-color: #4733d3;
  --primary-tint-color: #f0f0ff;
  --primary-pale-color: #f4f4fc;
  --primary-text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: var(--primary-pale-color);
}

.container {
  display: flex;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 2rem;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  position: relative;
  width: 60%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
}

.search-box {
  width: 100%;
  padding: 10px 10px 10px 36px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.notification {
    font-size: 24px;
    color: #4a4a4a;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

.notification:hover {
    color: var(--primary-color); /* Warna berubah saat di-hover */
    border: var(--primary-text-color);
    border-width: 100px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
