.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.5s;
}

.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card p {
  margin: 6px 0;
  color: #555;
  font-size: 0.95em;
}

.card:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
}

.card:hover h3, .card:hover p {
  color: var(--primary-text-color);
}

.final-grade {
  font-weight: bold;
  font-size: 1em;
  color: #5a3ef9;
  margin-top: 10px;
}